/* IMPORT FONT FAMILY */

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto-Regular.woff") format("woff");    
   }
  
   @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf") format("truetype");    
   }
  
  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }
    
  
  body 
  {
    min-height: 100vh;
  }


  /* HEADER */


  .nav_home 
  {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 4;
  }

  .navbar 
  {
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  #mainMenu 
  {
    display: flex;
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    gap: 1rem;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    background: rgb(255, 255, 255);
    transition: top 1s ease 0s;
    display: none;
  }


  /*  Header dropdown menu  */


  #drop
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }

  @keyframes infinitLoop
  {
    from {
      transform: scale(1) translateX(5px);
    }

    to {
      transform: scale(1.2) translateX(8px);
    }
  }


  /* Dropdown Button */
  #drop .dropbtn 
  {
    padding: 16px;
    border: none;
    background: none;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #000;
    border: none;
    cursor: pointer;
    transition: 0.35s ease-in;
  }

  
  #drop:hover .dropbtn
  {
    transform: translateY(-10px) scale(1.2);
  }

  #drop .drop_menu
  {
    display: none;
    z-index: 1;
  }

  #drop:hover .drop_menu
  {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }


  @keyframes fadein
  {
    from {
      opacity: 0;
      transform: scale(0.5);
    }

    50% {
      
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .dropdown-content
  {
    filter: invert(20%);
    animation: fadein 0.5s ease-in;
  }


  .link-content
  {
    display: inline-block;
    padding: 10px;
    font-family: "Roboto Slab";
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.35s;
  }

  .link-content:hover
  {
    margin: 0px 10px;
  }


  /* Links inside the dropdown */
  .dropdown-content a 
  {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display: inline-block;}


  #mainMenu > li:nth-child(3){margin-top: 1rem;}

  #mainMenu > li a 
  {
    display: inline-block;
    padding: 10px;
    font-family: "Roboto Slab";
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2em;
    transition: 0.35s;
  }

  #mainMenu li a:hover 
  {
    background: rgba(221, 220, 220, 0.329);
    font-weight: bolder;
    background: none;
    opacity: 2;
    transform: scale(1.2);
  }

  .openMenu 
  {
    font-size: 2.5rem;
    margin: 20px;
    display: block;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .openMenu:hover 
  {
    transform: scale(1.3);
  }

  .openMenu .i_index
  {
    animation: changeColor 19s infinite;
  }

  @keyframes changeColor
  {
    0% {
      color: #fff;
    }

    85% {
      color: #fff;
    }

    100% {
      color: #000;
    }
  }

  #mainMenu #closeMenu 
  {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.5rem;
    color: #000;
    transition: 0.5s;
  }

  #mainMenu #closeMenu:hover {transform: scale(1.3) translateY(5px);}

  #mainMenu #closeMenu 
  {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  #mainMenu #closeMenu
  {
    width: 60px;
    height: 60px;
    transform: scale(0.7);
    transition: 0.5s;
  }

  #mainMenu .icons
  {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  #mainMenu .icons a 
  {
    height: 50px;
    width: 50px;
    transform: scale(0.7);
    transition: 0.5s;
  }

  #mainMenu .icons a:hover
  {
    transform: scale(1) translateY(-15px);
  }

  #mainMenu .icons a img 
  {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    filter: invert(100);
  }


  .logo 
  {
    position: absolute;
    top: 10;
    left: 0;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
  }

  

  .logo img 
  {
    height: 65px;
    width: 250px;
    transition: 0.5s;
  }

  .logo:hover img 
  {
    transform: scale(1.3);
  }

/* MAIN CONTENT */

.main-content 
{
  min-height: calc(100vh - 150px - 125px);
  width: 100%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}


/* TEST INDEX STYLES */

.hero
{
position: absolute;
right: 0;
width: 100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.5s;
z-index: -1;
}

.overlay_home  
{
position: absolute;
right: 0;
width: 100%;
min-height: 100vh;
transition: 0.5s;
z-index: 3;
background-color: rgba(0, 0, 0, 0.10);
}

.hero.active{right: 300px;}

.hero video
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.8;
z-index: -1;
}

#new-video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}

.social
{
position: absolute;
z-index: 3;
bottom: 20px;
left: 50%;
right: 50%;
display: flex;
justify-content: center;
align-items: center;

}

.social li
{
list-style: none;
width: 70px;
height: 70px;
}

.social li a
{
display: inline-block;
margin-right: 20px;
transform: scale(0.5);
transition: 0.5s;
}

.social li a img 
{
border-radius: 100%;
width: 70px;
height: 70px;
}

.social li a:hover{transform: scale(0.8) translateY(-15px);}



/***********************************************/

.main-content .cards 
{
  display: grid;
  grid-template-columns: repeat(3, 16rem);
  grid-template-rows:  repeat(3, 16rem);
  justify-content: center;
  gap: 4rem;
}

.main-content .cards .box
{
  position: relative;
  transition: 0.5s;
}
  
.main-content .cards .box:hover 
{
  box-shadow: none;
  transform: scale(1.05);
}


.cards .box:hover .imgBox {transform: translate(-0.8rem, -0.4rem);}

.cards .box:hover .voile {transform: translate(-0.8rem, -0.4rem);}

.cards .box:hover .colorBox {transform: translate(0.3rem, 0.4rem);}

.deleteButton 
{
  position: absolute;
  left: 105%;
  top: -30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.deleteButton span 
{
  font-family: "Roboto Regular";
  font-size: 1.5em;
  font-weight: 1000;
}

.imgBox 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  resize: both;
}


.colorBox 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

  .voile 
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all 0.5s ease-in-out;
  }


  .voile:hover .overlay
  {
    opacity: 1;
    transform: scale(1);
  }

  .voile .overlay
  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.2);
    opacity: 0;
    transition: transform .4s ease 0s;
}

.overlay span
{
  position: absolute;
  transform: scale(1);
  transition: transform .4s ease 0s;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Roboto Slab"; 
}

.overlay span p 
{
  color: rgb(0, 0, 0);
  font-size: 0.7em;
}


/* gallery-content */

.main-gallery 
{
  min-height: calc(100vh - 81px - 201.59px);
  margin: 3rem 2rem;
  display: flex;
  justify-content: center;
}


.gallery-content 
{
  width: 50%;
  min-height: calc(100vh - 81px - 201.59px);
  display: flex;
  flex-direction: column;
  background: #000;
}


.gallery-box 
{
  width: 100%;
  height: 100%;
  background: #aaa;
}


.page-title
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.page-title > h1
{
  font-family: "Roboto Slab";
  font-size: 2em;
}


.page-title > span
{
  height: 6px;
  width: 200px;
  background-color: #000;
}

/* FOOTER */

footer 
{
  position: absolute;
  width:100%;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color:#fff;
  color:#000000; 
}


.foot-icons
{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.foot-icons > li
{
  display: flex;
  justify-content: center;
}


.foot-icons li a > img
{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  filter: invert(100);
  transition: 0.5s;
}

.foot-icons li a >img:hover{transform: scale(1.5) translateY(-10px);}

footer > p
{
  margin-top:15px;
  margin-bottom:0;
  font-family: "Roboto Slab";
  font-size: 12px;
  text-align:center;
}


footer .copyright 
{
  margin-top:15px;
  text-align:center;
  font-family: "Roboto Regular";
  font-size:13px;
  color:rgb(0, 0, 0);
  margin-bottom:0;
}


/*  MODEL PAGE  */

.model-content
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto Slab";
}



.model-content > span
{
  background: #000;
  width: 100px;
  height: 3px;
}

.model-content > p{text-align: center;}

/* CONTACT FORM */

section
{
  position: relative;
  transition: 0.5s;
}
  
.main-content .cards .box:hover 
{
  box-shadow: none;
  transform: scale(1.05);
}

.cards .box:hover .imgBox {transform: translate(-0.8rem, -0.4rem);}

.cards .box:hover .voile {transform: translate(-0.8rem, -0.4rem);}

.cards .box:hover .colorBox {transform: translate(0.3rem, 0.4rem);}

.deleteButton 
{
  position: absolute;
  left: 105%;
  top: -30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.deleteButton span 
{
  font-family: "Roboto Regular";
  font-size: 1.5em;
  font-weight: 1000;
}

.imgBox 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  resize: both;
}


.colorBox 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.voile 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.5s ease-in-out;
}


.voile:hover .overlay
{
  opacity: 1;
  transform: scale(1);
}

.voile .overlay
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.2);
  opacity: 0;
  transition: transform .4s ease 0s;
}

.overlay span
{
position: absolute;
transform: scale(1);
transition: transform .4s ease 0s;
font-weight: bold;
font-size: 1.2em;
text-align: center;
color: rgb(0, 0, 0);
font-family: "Roboto Slab"; 
}

.overlay span p 
{
color: rgb(0, 0, 0);
font-size: 0.7em;
}


/* gallery-content */

.main-gallery 
{
  min-height: calc(100vh - 81px - 201.59px);
  margin: 3rem 2rem;
  display: flex;
  justify-content: center;
}


.gallery-content 
{
  width: 50%;
  min-height: calc(100vh - 81px - 201.59px);
  display: flex;
  flex-direction: column;
  background: #000;
}


.gallery-box 
{
  width: 100%;
  height: 100%;
  background: #aaa;
}



/*  MODEL PAGE  */

.model-content
{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 1rem;
font-family: "Roboto Slab";
}



.model-content > span
{
background: #000;
width: 100px;
height: 3px;
}

.model-content > p
{
text-align: center;
}

/* CONTACT FORM */

section
{
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
height: 100vh;
}

section::before
{
content: '';
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100vh;
background: #ffffff

}

.contact-container
{
position: relative;
min-width: 1100px;
min-height: 550px;
margin-top: 100px;
display: flex;
z-index: 1000;
}

.contact-container .contactInfo
{
position: absolute;
top: 40px;
width: 350px;
height: calc(100% - 80px);
background: #000000;
font-family: "Roboto Slab";
z-index: 1;
padding: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.contact-container .contactInfo h2
{
color: #fff;
font-size: 24px;
font-weight: 500;
}

.contact-container .contactInfo .info 
{
position: relative;
margin: 20px 0; 
}

.contact-container .contactInfo .info li
{
position: relative;
list-style: none;
display: flex;
margin: 20px 0;
cursor: pointer;
align-items: flex-start;
}


.contact-container .contactInfo .info li span:nth-child(1) img
{
max-width: 30px;
min-width: 30px;
min-height: 30px;
max-height: 30px;
}

.contact-container .contactInfo .info li span:nth-child(2)
{
color: #fff;
margin-left: 10px;
font-weight: 300;
}

.contact-container .contactInfo .sci
{
position: relative;
display: flex;
}

.contact-container .contactInfo .sci li
{
list-style: none;
margin-right: 15px; 
}

.contact-container .contactInfo .sci li a 
{
text-decoration: none;
margin-right: 10px;
}


.contact-container .contactInfo .sci li a:hover 
{
transform: scale(0.8) translateY(-15px);
}

.contact-container .contactInfo .sci li a img 
{
border-radius: 100%;
width: 35px;
height: 35px;
transform: scale(1);
transition: 0.5s;
}

.contact-container .contactInfo .sci li a img:hover
{
transform: scale(1.5) translateY(-15px);
}



.contact-container .contactForm
{
position: absolute;
padding: 70px 50px;
padding-left: 250px;
margin-left: 150px;
width: calc(100% - 150px);
height: 100%;
box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
background: #fff;
border: 1px solid rgba(155, 155, 155, 0.9);
font-family: "Roboto Slab";
}

.contact-container .contactForm h2
{
color: #000;
font-size: 24px;
font-weight: 500;
}

.contact-container .contactForm .formBox
{
position: relative;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-top: 30px;
}

.contact-container .contactForm .formBox .inputBox 
{
position: relative;
margin-bottom: 35px;
}


.contact-container .contactForm .formBox .inputBox.w50
{
width: 47%;
}

.contact-container .contactForm .formBox .inputBox.w100
{
width: 100%;
}

.contact-container .contactForm .formBox .inputBox input,
.contact-container .contactForm .formBox .inputBox textarea
{
width: 100%;
resize: none;
padding: 5px 0;
font-size: 18px;
font-weight: 300;
color: #333;
border: none;
outline: none;
border-bottom: 1px solid #777;
} 

.contact-container .contactForm .formBox .inputBox textarea
{
height: 120px;
}

.contact-container .contactForm .formBox .inputBox span 
{
position: absolute;
left: 0;
padding: 5px 0;
pointer-events: none;
font-size: 18px;
font-weight: 300;
transition: 0.3s;
}

.contact-container .contactForm .formBox .inputBox input:focus ~ span,
.contact-container .contactForm .formBox .inputBox input:valid ~ span,
.contact-container .contactForm .formBox .inputBox textarea:focus ~ span,
.contact-container .contactForm .formBox .inputBox textarea:valid ~ span
{
transform: translateY(-20px);
font-size: 12px;
font-weight: bold;
letter-spacing: 1px;

}

.contact-container .contactForm .formBox .inputBox input[type="submit"]
{
position: relative;
cursor: pointer;
background: #000;
color: #fff;
border: none;
max-width: 150px;
padding: 12px;
}

.contact-container .contactForm .formBox .inputBox input[type="submit"]:hover 
{
background: rgb(59, 59, 59);
}


/* MEDIA QUERIES */

/* MAIN CONTENT */
@media (max-width: 460px) {
  .footer-basic ul {
    font-size: 13px;
  }
}


@media (max-width: 600px) {
  .cards .box:hover .content {
    transform: translate(0, 1rem);
  }
  .cards .box:hover .imgBox {
    transform: translate(0, -1rem);
  }
}

@media all and (max-device-width: 1024px) {

  .main-content .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    grid-template-columns: none;
    grid-template-rows: none;
    width: 100%;
    
  }

  .main-content .cards .box {
    max-width: 30rem;
    min-width: 27rem;
    min-height: 27rem;
    width: 50%;
    height: 50%;
    margin-bottom: 4rem;
  }


  .overlay span{
    font-size: 1.5em;
  }
  
  .overlay span p {
    font-size: 1em;
  }

  

}


/* HERO */
@media (max-aspect-ratio: 16/9) {
  .hero video {
    width: auto;
    height: 100%;
  }
}

/* CONTACT FORM*/

@media (max-width: 1200px)
{
  .contact-container
  {
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }

  .contact-container .contactInfo
  {
    top: 0;
    height: 550px;
    position: relative;
    justify-content: space-between;
    box-shadow: none;
  }

  .contact-container .contactForm
  {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
  }
}

@media (max-width: 991px)
{
  section::before
  {
    display: none;
  }

  .contact-container
  {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-container .contactForm
  {
    width: 100%;
    height: auto;
  }

  .contact-container .contactInfo
  {
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .contact-container .contactInfo .sci
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

@media (max-width: 600px)
{ 
  .contact-container .contactForm
  {
    padding: 25px;
    padding-top: 5px;
  }

  .contact-container .contactForm h2 
  {
    font-size: 20px;
  }

  .contact-container .contactForm .formBox .inputBox span,
  .contact-container .contactForm .formBox .inputBox input
  {
    font-size: 16px;
  }

  .contact-container .contactInfo
  {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-container .contactInfo .sci
  {
    margin-top: 40px;
  }
  .contact-container .contactForm .formBox .inputBox.w50
  {
    width: 100%;
  }

  .contact-container .contactForm .formBox .inputBox input,
  .contact-container .contactForm .formBox .inputBox textarea
  {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
  } 

  .contact-container .contactForm .formBox .inputBox textarea
  {
    height: 120px;
  }

  .contact-container .contactForm .formBox .inputBox span 
  {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
  }

  .contact-container .contactForm .formBox .inputBox input:focus ~ span,
  .contact-container .contactForm .formBox .inputBox input:valid ~ span,
  .contact-container .contactForm .formBox .inputBox textarea:focus ~ span,
  .contact-container .contactForm .formBox .inputBox textarea:valid ~ span
  {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    
  }

  .contact-container .contactForm .formBox .inputBox input[type="submit"]
  {
    position: relative;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
  }

  .contact-container .contactForm .formBox .inputBox input[type="submit"]:hover 
  {
    background: rgb(59, 59, 59);
  }

}
/* MEDIA QUERIES */

/* MAIN CONTENT */
  @media (max-width: 460px) {
    .footer-basic ul {
      font-size: 13px;
    }
  }


  @media (max-width: 600px) {
    .cards .box:hover .content {
      transform: translate(0, 1rem);
    }
    .cards .box:hover .imgBox {
      transform: translate(0, -1rem);
    }
  }

  @media all and (max-device-width: 1024px) {

    .main-content .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      grid-template-columns: none;
      grid-template-rows: none;
      width: 100%;
      
    }

    .main-content .cards .box {
      max-width: 30rem;
      min-width: 27rem;
      min-height: 27rem;
      width: 50%;
      height: 50%;
      margin-bottom: 4rem;
    }


    .overlay span{
      font-size: 1.5em;
    }
    
    .overlay span p {
      font-size: 1em;
    }

    

  }

  
/* HERO */
  @media (max-aspect-ratio: 16/9) {
    .hero video {
      width: auto;
      height: 100%;
    }
  }

/* CONTACT FORM*/

@media (max-width: 1200px)
{
  .contact-container
  {
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }

  .contact-container .contactInfo
  {
    top: 0;
    height: 550px;
    position: relative;
    justify-content: space-between;
    box-shadow: none;
  }

  .contact-container .contactForm
  {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
  }
}

@media (max-width: 991px)
{
  section::before
  {
    display: none;
  }

  .contact-container
  {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-container .contactForm
  {
    width: 100%;
    height: auto;
  }

  .contact-container .contactInfo
  {
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .contact-container .contactInfo .sci
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px)
{ 
  .contact-container .contactForm
  {
    padding: 25px;
    padding-top: 5px;
  }

  .contact-container .contactForm h2 
  {
    font-size: 20px;
  }

  .contact-container .contactForm .formBox .inputBox span,
  .contact-container .contactForm .formBox .inputBox input
  {
    font-size: 16px;
  }

  .contact-container .contactInfo
  {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-container .contactInfo .sci
  {
    margin-top: 40px;
  }
  .contact-container .contactForm .formBox .inputBox.w50
  {
    width: 100%;
  }

}


/*  LOGIN PAGE  */

#login-form
{
  height: 520px;
  width: 400px;
  padding: 50px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: "Roboto Slab";
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

#login-form div
{
  width: 100%;
}

#login-form div a img
{
  width: 50px;
  height: 50px;
}

#login-form div a img:hover
{
  transform: scale(1.2);
}

#login-form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

#login-form label
{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

#login-form input
{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

#login-form input::placeholder
{
  color: #e5e5e5;
}

#login-form input[type="submit"]
{
  margin-top: 50px;
  font-family: "Roboto Slab";
  font-weight: 400;
}

#login-form input[type="submit"]:hover
{
  cursor: pointer;
  color: #fff;
  background: #000;
}


/*  DASHBOARD */


#message
{
  width: 50%;
  height: 70px;
  position: absolute;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  color: #fff;
  border: 1px solid #b7bbc8;
  border-radius: 8px;
}

#message:hover
{
  cursor: pointer;
  background-color: #85ac75;
}

.alert-valid
{
  background-color: #96b38a;
}


.alert-error
{
  background-color: #ff3c41;
}


#dashboard
{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
  background-color: #fff;
}

/*  TOP CONTAINER  */

#top-container
{
  position: relative;
  width: 100%;
  height: 80px;
  padding: 1rem;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#logo-dashboard
{
  width: 200px;
  height: 95px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
}

#logo-dashboard > img
{
  width: 140px;
  height: 50px;
  padding-left: 1rem;
}


#profil-container > img
{
  width: 40px;
  height: 40px;
}
/*  DASHBOARD CONTAINER */

#menu-container
{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
}

/*  LEFT CONTAINER  */

#left-container
{
  width: 230px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}


  /*  LOG OUT */

#left-container > a
{
  width: 165px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-size: 1em;
  text-decoration: none;
  list-style: none;
}

#left-container > a:hover
{
  background-color: #EEE6E3;
}

#left-container > a img
{
  width: 20px;
  height: 20px;
}



/*  MENU  */

#menu
{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}


.link
{
  width: 165px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Roboto Slab";
  font-size: 1em;
  border: none;
  background-color: #fff;
  
}

.link:hover
{
  cursor: pointer;
  transform: scale(1.2);
}

.link > img
{
  width: 20px;
  height: 20px;
}

.link:nth-child(3) > img
{
  width: 18px;
  height: 18px;
}



/*  DELETE SECTION */

#delete-section
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


#delete-section > button
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: left;
  font-family: "Roboto Slab";
  font-size: 1em;
  border: none;
  background-color: #fff;
}


#delete-section > button > img
{
  width: 20px;
  height: 20px;
}

#delete-section > button:hover
{
  background-color: #EEE6E3;
}

#delete-section > select
{
  height: 30px;
  padding: 3px;
  display: none;
  flex-direction: column;
  position:relative;
  border: none;
  font-family: "Roboto Slab";
}

#delete-section:hover > select
{
  display:flex;
}

#delete-section > select:hover
{
  cursor: pointer;
  background-color: rgb(240, 240, 240);

}



/*  MAIN TEXT*/

#main-text
{
  width: 100%;
  padding-top: 4rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f9fafb;
}

#main-text h2
{
  margin-bottom: 2rem;
}



/* ADD CONTAINER */


#add-container
{
width: 100%;
padding-top: 4rem;
display: none;
justify-content: center;
gap: 2.5em;
background-color: #f9fafb;
}

/*  PROJECT */


#project-container
{
  width: 500px;
  height: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 14px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#info-project
{
  padding-bottom: 0.5rem;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  border-bottom: 2px solid #000;

}

#project
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 8px;
  

}

#add-form
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#project-name
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#project-name > input
{
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  background : #f9fafb;
}

#project-name > input::placeholder
{
  color: #9c9fa1;
}


#page-name
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


#page-name select
{
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  background : #f9fafb;
}


.send-image::-webkit-file-upload-button
{
  visibility: hidden;
}

.send-image::before
{
content: 'Choisir une image';
color: black;
display: inline-block;
border: 1px solid #999;
border-radius: 3px;
padding: 5px 8px;
cursor: pointer;
text-shadow: 1px 1px #fff;
font-weight: 700;
font-size: 10pt;

}

.send-image:hover::before{border-color: black;}

.send-image{color: transparent;}

.send-image:active{outline: 0;}

#send
{
  display: flex;
  justify-content: flex-end;
}

#send > button
{
  width: 80px;
  height: 30px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  background: #000;
}

/*  PROJECT ANNEXE  */

#annexe
{
  width: 500px;
  height: 550px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 14px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#annexe > p
{
  padding-bottom: 0.5rem;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  border-bottom: 2px solid #000;
}

#annexe form
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#project-fetch
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#project-fetch select
{
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  background : #f9fafb;
}

#subtitle-container
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#subtitle-container input
{
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  background : #f9fafb;
}

#textarea-container
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#textarea-container input
{
  color: #9c9fa1;
}

#annexe form textarea
{
  padding-top: 5px;
  padding-left: 5px;
  font-size: 16px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  background : #f9fafb;
}

#annexe form textarea::placeholder
{
  color: #9c9fa1;
}

.send-file
{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;

}

.send-file:hover
{
  cursor: pointer;
}


.send-file i img
{
  width: 30px;
  height: 30px;
}


#send-annexe
{
  display: flex;
  justify-content: flex-end;
}

#send-annexe button
{
  width: 80px;
  height: 30px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Regular";
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  background: #000;
}


/*  MODIF CONTAINER*/




/*  DELETE CONTAINER  */

#delete
{
  width: 100%;
  padding-top: 4rem;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background-color: #f9fafb;
}

#delete > h2
{
  border-bottom: 3px solid;
}

#delete-container
{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 12rem);
  grid-auto-rows: 12rem;
  justify-content: center;
  gap: 3rem;
  overflow-x: hidden;
  overflow-y: scroll; // gérer le débordement

}

#full-dark-container
{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #00000067;
}

#popup
{
  position: absolute;
  width: calc(100% - 230px);
  min-height: calc(100vh - 90px - 4rem);
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
}

#delete-popup
{
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
}

#text-container
{
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  font-family: "Roboto Slab";
}

#header-text
{
  padding: 0.5rem;
  font-size: 1.5rem;
}

#text-information
{
  font-family: "Roboto Regular";
  font-size: 1.2rem
}

#button-div
{
  width: 100%;
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

#button-div > button
{
  width: 80px;
  height: 30px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Regular";
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
}

#button-div > button:hover
{
  transform: scale(1.1);
}

#return-back
{
  background-color: #fff;
}

#delete-project
{
  color: #fff;
  background-color: #F00;
}

.box-admin {
  position: relative;
  transition: 0.5s;
}
  
.box-admin:hover {
  box-shadow: none;
  transform: scale(1.05);
}

.box-admin:hover .imgBox-admin {
  transform: translate(-0.4rem, -0.2rem);
}

.box-admin:hover .voile-admin {
  transform: translate(-0.4rem, -0.2rem);
}


.imgBox-admin {
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox-admin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  resize: both;
}


.voile-admin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.5s ease-in-out;
}


.voile-admin:hover .overlay-admin{
  opacity: 1;
  transform: scale(1);
}

.voile-admin .overlay-admin{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.2);
  opacity: 0;
  transition: transform .4s ease 0s;
}

.overlay-admin span
{
position: absolute;
transform: scale(1);
transition: transform .4s ease 0s;
font-weight: bold;
font-size: 1em;
text-align: center;
color: rgb(0, 0, 0);
font-family: "Roboto Slab"; 
}